body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h5 {
  font-family: 'Girassol', cursive;
}

.jumbotron {
  background-image: linear-gradient(to right, black, darkslateblue);
  color: cornflowerblue;
}

.navbar-dark {
  background-color: rgb(47, 54, 94);
}

footer h5 {
  color: cornflowerblue;
}