body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h5 {
  font-family: 'Girassol', cursive;
}

.jumbotron {
  background-image: linear-gradient(to right, black, rgb(19, 21, 37), rgb(50, 43, 99));
}

.navbar {
  background-color: rgb(19, 21, 37);
}

footer h5 {
  color: cornflowerblue;
}

.carousel-item > img { 
  width: 100%; 
}